.container {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 20px;
}

.container h3 {
  font-size: 3.5rem;
  margin-bottom: 50px;
}

.wrapper {
  display: inline-flex;
  background: #fff;
}
.wrapper .option {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span {
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}

.login-Row {
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 0.2rem;
}

input {
  width: 420px;
  height: 43px;
}

input,
input::-webkit-input-placeholder {
  font-size: 19px;
  line-height: 3;
  color: black;
}
.login-Row p {
  color: var(--clr-grey-3);
}

.login-Row {
  margin-top: 16px;
}
.mainpage-center_button {
  margin-top: 30px;
  background: rgb(253, 41, 123);
  background: linear-gradient(
    90deg,
    rgba(253, 41, 123, 1) 0%,
    rgba(255, 88, 100, 1) 35%,
    rgba(255, 101, 91, 1) 100%
  );
  color: white;
  border: white 1px solid;
  border-radius: 30px;
  width: 330px;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
}

.mainpage-center_button span {
  color: white;
}
